/desktop.ini
/GDSC OMÜ Başvuru Formu - Google Formlar.pdf
/GitHub Desktop.lnk
/gwo algorithms.txt
/hello.docx
/indexingOperation.py
/kjhkjhkj.txt
/ksdlfjlkdjgk.txt
/num.py
/out.pdf
/takım dağılımı.docx
/WhatsApp Image 2022-09-17 at 18.33.09.jpeg
/WhatsApp Image 2022-09-27 at 13.13.22.jpeg